.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7%;
  background: #fff;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 22px;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    border: 0;
    background: transparent;
    padding: 6px;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}