*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ced8ff;
}

.container {
  width: 100%; 
  /* min-height: calc(100vh - 80px); */
  background-color: #ced8ff;
  /* padding: 40px; */
  transition: 0.5s;
}

.container.dark {
  background-color: #222;
}

/*#body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ced8ff;
}*/

#dark {
  background-color: #222;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}