*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ced8ff;
}

.dark {
  background-color: #222;
  /* color:white; */
}

#body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* color:black; */
}

.body-light{
    background-color: #ced8ff;
    color:black;
}

.body-dark{
    background-color: #222;
    color:white;
}


/*#dark {
  background-color: #222;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}*/